.mui-off-canvas-left {
	color: #fff;
}
.title {
	margin: 35px 15px 10px;
}
.card-status-4 {
	border: #2AC845 1px solid;
}
.card-status-4 {
	border: #2AC845 1px solid;
}
.red{
	color: red !important;
}
.green{
	color: green !important;
}
.logout{
	color: #777777 !important;
}