.mui-off-canvas-left {
	color: #fff;
}
.title {
	margin: 35px 15px 10px;
}
.card-status-1 {
	border: red 1px solid;
	/* background: #f9f5cd; */
}
.card-status-1 i,.card-status-1 label{
	color: red !important;
}
.card-status-2{
	border: blue 1px solid;
	/* background: #b3fdf9; */
}
/* .card-status-2 li{
	background: #b3fdf9;
} */
.card-status-2 i,.card-status-2 label{
	color: blue !important;
}
.card-status-3{
	border: orange 1px solid;
}
.card-status-3 i,.card-status-3 label{
	color: orange !important;
}
.card-status-4 {
	border: green 1px solid;
	/* background: #aff9af; */
}
.card-status-4 i,.card-status-4 label{
	color: green !important;
}
/* .card-status-6 {
	border: #869689 1px solid;
	background: #d6dad7;
}
.card-status-6 li{
	background: #d6dad7;
} */
.card-status-6{
	border: gray 1px solid;
}
.card-status-6 i,.card-status-5 i{
	color: gray !important;
}
.red{
	color: red !important;
}
.orange{
	color: orange !important;
}
.green{
	color: green !important;
}
.gray{
	color: gray !important;
}
.logout{
	color: #777777 !important;
}
body, html {
	  height: 100%;
	  -webkit-tap-highlight-color: transparent;
	}
.weui-tab .weui-uploader__files .weui-uploader__file{
	position: relative;
}
.weui-tab .weui-uploader__files .weui-uploader__file .weui-icon-cancel{
	position: absolute;
	top: 0px;
	right: 0;
	color: red;
	cursor: pointer;
	font-weight: bold;
}
.weui-tab__bd .weui-tab__bd-item{
	width: 100%;
}