.mui-off-canvas-left {
	color: #fff;
}
.title {
	margin: 35px 15px 10px;
}
.card-status-1 {
	border: #bdb23e 1px solid;
	background: #f9f5cd;
}
.card-status-1 li{
	background: #f9f5cd;
}
.card-status-2{
	border: #1a9089 1px solid;
	background: #b3fdf9;
}
.card-status-2 li{
	background: #b3fdf9;
}
.card-status-4 {
	border: #2AC845 1px solid;
	background: #aff9af;
}
.card-status-4 li{
	background: #aff9af;
}
.card-status-6 {
	border: #869689 1px solid;
	background: #d6dad7;
}
.card-status-6 li{
	background: #d6dad7;
}
.red{
	color: red !important;
}
.green{
	color: green !important;
}
.logout{
	color: #777777 !important;
}